h1 {color: #8e808e; background-image: url("starb.gif"); background-size: 20%; text-align: center; border-style: inset; border-color: #57494330; border-radius: 12px; font-family: 'Times New Roman';}
h2 {color: #d6c5d6; background-color:#753f6030; text-align: center; border-style: inset; border-color: #57494330; border-radius: 12px; font-family: 'Times New Roman'; padding: 5px}
h3 {color: #d6c5d6; background-color:#753f6030; text-align: center; border-style: inset; border-color: #57494330; border-radius: 12px; font-family: 'Times New Roman'; padding: 5px}
strong {color: black}
.home {color: #d6c5d6; font-size: 20px; border-style: inset; border-color: #57494330; border-radius: 12px; font-family: 'Georgia';  background-image: url("starb.gif"); font-weight: 700; width: 12%}
.ing {text-align:left; padding: 5px;}
img {
    display: block;
    margin: auto;
    width: auto;
  }
  .back  {color: #756775}
  .ingbord {border-style: inset}
  body {font-family: 'Courier New', Courier, monospace; font-size: 14px; font-weight: 550; background: linear-gradient(#f5e4f5, #998f8b); background-repeat: no-repeat; background-attachment: fixed; margin-left: 30px}
  .bulp {background: linear-gradient(to right,#f5e4f5, #998f8b); background-repeat: no-repeat; background-attachment: fixed; border-radius: 12px; padding: 5px}
  .image {width: 10%; position:fixed; top: 180px; left: 0px}
  .cat {position:fixed; top: 0px; right: 0px}
  .hptext {font-family: 'Courier New', Courier, monospace; font-size: 14px; font-weight: 550; border-style: double; width: 19%; border-color: #8e808e60; border-radius: 12px; position:absolute; top: 60px; right: 300px}
  .kitty {position:fixed; bottom: 0px; right: 0px}