div {color: #cf69a6; background-color:#753f6030; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; text-align: center}

.index {color: #cf69a6; font-family:'Times New Roman', Times, serif; background-color: blue}